<nav class="container-fluid">
    <ul>
        <li><strong><a href="{% url 'home' %}" class="contrast">{{ SITE_NAME }}</a></strong></li>
    </ul>
    <ul>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'staff' %}">Stylists</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'my_bookings' %}">My Bookings</a></li>
            <li><a href="{% url 'guest_booking_step1_service' %}" role="button">Book Now</a></li>
            <li>
                <details class="dropdown">
                    <summary>{{ user.email }}</summary>
                    <ul dir="rtl">
                        <li><a href="{% url 'accounts:profile' %}">Profile</a></li>
                        {% if user.is_staff %}
                            <li><a href="{% url 'admin:index' %}">Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    </ul>
                </details>
            </li>
        {% else %}
            <li><a href="{% url 'account_login' %}">Login</a></li>
            <li><a href="{% url 'account_signup' %}" role="button">Sign Up</a></li>
        {% endif %}
    </ul>
</nav>


